{% extends "base.html" %}
{% block title %} Visual {% endblock %}
{% load static %}

{% block content %}
<div class="container" style="padding-bottom: 50px;">
	<h2>Ship count under different ship type</h2>
	<div id="container" style="width: 75%;">
	  <canvas id="pie-chart"></canvas>
	</div>
	<div id="container" style="width: 75%;">
	  <canvas id="bar-chart"></canvas>


</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{count|safe}},	  
          label: 'Count',
		  backgroundColor: ["#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC","#0074D9", "#FF4136", "#2ECC40", "#FF851B",  "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
        }],
        labels: {{labels|safe}}
      },
      options: {
        responsive: true
      }
    };
	
	var config2 = {
      type: 'bar',
      data: {
        datasets: [
		{
          data: {{count|safe}},
          label: 'Count',
		  backgroundColor: ["#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC","#0074D9", "#FF4136", "#2ECC40", "#FF851B",  "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
        }
		],
        labels: {{labels|safe}}
      },
      options: {
        responsive: true
      }
    };
	
	
    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
	  var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myBar = new Chart(ctx, config2);
    };
</script>

{% endblock %}
